<form action="<%= session_url %>" method="post">

  <label>USER NAME
  <input
    type="text"
    name="user[username]"
    value="">
  </label>
  
  <label>PASSWORD
  <input
    type="password"
    name="user[password]"
    value="">
  </label>

  
  <input type="submit" value="SUBMIT">
</form>
